{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<header class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}">
    <article class="wrapper">
      <h2 id="page-title" class="page__title" itemprop="headline">
        <span>
          {% if paginator and site.paginate_show_page_num %}
            {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
          {% else %}
            {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
          {% endif %}
        </span>
      </h2>
      
      <div class="work__meta">
        <!-- {% include page__meta.html %} -->
        {% include page__workdate.html %}
        {% include tag-list.html %}
        {% if page.tools %}
        <div class="tools">
          <strong>작업도구</strong>
          <ul>
            {% for tool in page.tools %}
              {% for i in tool[1] %}
                <li>{{ i }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      {% if page.toc %}
      <nav class="toc {% if page.toc_sticky %}sticky{% endif %}">
        <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
        {% include toc.html sanitize=true html=content h_min=1 h_max=3 class="toc__menu" skip_no_ids=true %}
      </nav>
      {% endif %}

      <div class="page__lead">
        {% if page.header.show_overlay_excerpt != false and page.excerpt %}
          <p>{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
      </div>
  
      {% if page.header.image %}
      <figure class="{{ page.header.image_layout }}">
        <img src= '{{ page.header.image | relative_url }}' alt="{{ image_description }}"/>
        <figcaption>{{ image_description }}</figcaption>
      </figure>
      {% endif %}
    </article>
  <!-- {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %} -->
</header>
