{% assign postNexts = site.posts | where_exp: "post", "post.start_date > page.start_date" | limit : 1 | reverse %}

<nav class="page__nav">
  <h3>{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</h3>
  {% if postNexts.size > 0 %}
    {% for next in postNexts %}
      <a href="{{ next.url | relative_url }}" class="pagination--pager" title="{{ next.title | markdownify | strip_html }}">
        <span>{{ next.start_date | date: '%y'}}</span>
        <h4>{{next.title}}</h4>
        {% if next.header.teaser %}
          <img src="{{ next.header.teaser }}" alt="{{next.title}} 썸네일">
        {% endif %}
      </a>
    {% endfor %}
  {% else %}
    <a href="#" class="pagination--pager disabled">
      <span>다음글이 없습니다</span>
    </a>
  {% endif %}
</nav>