<article class="summary">
  <span class="year">{{page.start_date | date: "%Y"'}}</span>
  <div class="type_work">
    <strong>분야</strong>
    <ul>
      {% for area in page.areas %}
        <li>{{ area }}</li>
      {% endfor %}
    </ul>
  </div>
  {% include tag-list.html %}
  {% if page.header.show_overlay_excerpt != false and page.excerpt %}
  <div class="page__lead">
      <h3>소개</h3>
      <p>{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
  </div>
  {% endif %}
</article>