---
layout: default
author_profile: false
---

<body>
  <div id="main" role="main" class="page__content">
    <section class="intro">
      <h2 class="hidden">엮은이</h2>
      <h3>더 좋은 흐름을 만들어가기 위해 무엇을 해야할지 생각하는게 재밌고 즐거운 人</h3>
      
      <p>
        ‘흐름을 생각한다'는 말에는
        변화를 자연스럽게 받아드릴수 있다는것, 
        이전의 상황을 파악하고 다음을 생각하는 전반에 대한 주인 의식이 있다는것,
        그리고 함께하는 사람을 배려하겠다는 의미가 담겨 있습니다.
        늘 흐름을 생각하는 사람이 되겠습니다.
      </p>
      
      <figure>
        <img src="https://bn1304files.storage.live.com/y4mP1Ppw964ncMEFrHd8Wi2jBNLZVcRPt2yptLbwcDYxnee2bnOHPP1MjCZgQLt6TNdzE8zcU2IjKTHD9NS5eMCm8dRx9WY_FuDAF_878N4nyUJSdUM6gHpZ6KiowFKv9FyahJzThb2eufAAeeoXIzo5DK0HhqgI7wY4XGTQo5_mZY7LJ8EMj-XwMgnXGeaYih6?width=737&height=1119&cropmode=none" alt="아이가 그려준 내 모습"/>
      </figure>
    </section>
    
    <section class="process">
    <h2 class="title_bar">작업 과정</h2>
    <ul> 
      <li>
        <h3>읽다</h3>
        <p>
          트렌드는 무엇이고,
          앞서된 작업이 어떻게 되어있는지 보고 익히며 시야를 넓힙니다. 
        </p>
      </li>
      <li>
        <h3>잡다</h3>
        <p>
          떠오르는 생각들을 거름없이 자유로이 더하고 난 뒤, 
          주제를 기준으로 내용을 분류하고 빼며 균형을 잡습니다. 
        </p>
      </li>
      <li>
        <h3>잇다</h3>
        <p>
          먼저 되는 것을 만듭니다.
          한번의 작업이 끝난 후, 아쉬웠던 부분들 떠올랐던 더 좋은 아이디어를 반영하며 더 나은것을 만듭니다. 
        </p>
      </li>
    </ul> 
    </section>
    
    <section class="ability">
    <h2 class="title_bar">엮는것과<span>도구들</span></h2>

    <h3>UI/UX 기획</h3>
    <ul>
      <li>XD</li>
      <li>Figma</li>
    </ul>
    <hgroup> 
      <h3>GUI 디자인</h3>
      <h3>CI 디자인</h3>
      <h3>서식 디자인</h3>
    </hgroup>
    <ul>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>MS Office</li>
    </ul>

    <h3>웹퍼블리싱</h3>
    <ul>
      <li>HTML5/CSS3</li>
      <li>SCSS</li>
      <li>jQury</li>
      <li>javascript</li>
      <li>git</li>
      <li>jeckll</li>
    </ul>
    </section>

    <section class="certificate">
      <h2>관련 자격증</h2>
      <ul>
        <li>웹디자인 기능사</li>
        <li>컴퓨터 그래픽스 기능사</li>
      </ul>
    </section>
    
    <section class="contact">
      <h2 class="hidden">함께하기</h2>
      <p>
        만들어갈 흐름에 대해 함께 고민을 나눌 동료와 문화가 있는 곳에서
        더 좋은, 더 나은 흐름을 만드는 내일을 꿈 꿉니다.
      </p>
      <a href="#">이력서 바로보기</a>
    </section>
  </div>
</body>