---
layout: default
author_profile: false
---

<body>
  <div id="main" role="main" class="page__content">
    <section class="about">
      <article>
        <h3>
          더 좋은 흐름을 만들어가기 위해 무엇을 해야할지 생각하는게 재밌고 즐거운
          <span>기획자</span><span>디자이너</span><span>개발자</span>희라입니다
        </h3>
        <p>
          약 7년의 시간 동안 기획부터 디자인 퍼블리싱 마케팅 부분등 다양한 작업을 참여하며 하나의 아이디어가 제품, 서비스가 되어가는 과정을 여러번 함께 하였습니다.
        </p>
        <p>
          부분 한부분을 중요하게, 그리고 모두가 같은 방향을 보며 나아갈때 좋은 흐름이 되고 그 안에서 좋은 작업이 나온다는것을 경험을 통해 알고 있습니다.
          섬세한 부분, 원할한 흐름 맞추어가며 좋은 흐름을 이끌어 나가겠습니다.  
        </p>
      </article>
      <article>
        <h3>준비된 자세</h3>
        <ul>
          <li>
            <h3>도전을 즐기는 정신</h3>
            <p>다른 분야에 꾸준히 도전해 왔던 만큼 새로운것을 즐기며 받아 드릴 준비가 되어 있습니다</p>
          </li>
          <li>
            <h3>유연한 사고와 소통</h3>
            <p>분야 별 경험으로 문제를 다양한 시각으로 바라보고, 각 분야의 특성을 이해하며 팀원 및 프로젝트 맴버와 소통을 원활하게 이어나갈 수 있습니다</p>
          </li>
          <li>
            <h3>다음을 위한 배려와 발전</h3>
            <p>나의 작업이 내 손을 떠난다 하여 끝나는 것이 아님을 알기에 다음작업, 다음 사람을 생각하며 작업을 이어 나갑니다</p>
          </li>
        </ul>
      </article>
    </section>

    <section class="process">
    <h2 class="title_bar">작업에 대한 생각과 과정</h2>
    <ul> 
      <li>
        <h3>기획</h3>
        <p>
          트렌드는 무엇이고,
          앞서된 작업이 어떻게 되어있는지 보고 익히며 시야를 넓힙니다. 
        </p>
      </li>
      <li>
        <h3>디자인</h3>
        <p>
          떠오르는 생각들을 거름없이 자유로이 더하고 난 뒤, 
          주제를 기준으로 내용을 분류하고 빼며 균형을 잡습니다. 
        </p>
      </li>
      <li>
        <h3>프론트엔드</h3>
        <p>
          먼저 되는 것을 만듭니다.
          한번의 작업이 끝난 후, 아쉬웠던 부분들 떠올랐던 더 좋은 아이디어를 반영하며 더 나은것을 만듭니다. 
        </p>
      </li>
    </ul> 
    </section>
    
    <section class="ability">
    <h2 class="title_bar">보유 기술</h2>
    <div>
    <h3>기획</h3>
      <ul>
        <li>XD</li>
        <li>Figma</li>
      </ul>
    </div>
    <div>
    <h3>디자인</h3>
      <ul>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>MS Office</li>
      </ul>
    </div>
    <div>
      <h3>퍼블리싱/프론트엔드</h3>
      <ul>
        <li>HTML5/CSS3</li>
        <li>SCSS</li>
        <li>jQury</li>
        <li>javascript</li>
        <li>git</li>
        <li>jeckll</li>
      </ul>
    </div>
    </section>
    
    <section class="contact">
      <h2 class="hidden">함께하기</h2>
      <p>
        만들어갈 흐름에 대해 함께 고민을 나눌 동료와 문화가 있는 곳에서
        더 좋은, 더 나은 흐름을 만드는 내일을 꿈 꿉니다.
      </p>
      <a href="#">이력서 바로보기</a>
    </section>
  </div>
</body>