---
layout: default
author_profile: false
---
<body>
  <div id="main" role="main" class="page__content">
    <section class="about">
      <h2>
        흐름에 쓸려가기 보다, 타야 제맛
      </h2>
      <article>
        <h3 class="point_txt">아이디어가 제품이 되는 과정은 설레는 소개팅을 준비하는 과정과 같습니다</h3>
        <p>
          좋은 만남을 위해서
          <span>대화를 통해 알게된 상대방에 대한 정보를 바탕으로 데이트 계획을 세우고</span>
          <span>더 매력을 돋보이기 위한 센스있는 스타일 더해</span>
          <span>깔끔한 매무새로 상대방을 만나러 가듯</span>
        </p>
        
        <p>
          제품과 사용자의 좋은 만남 또한
          우리와 사용자에 대한 충분한 탐색과 무한 시뮬레이션을 통해 설계하고, 
          제품과 서비스의 호감을 올려주는 디자인 센스를 한방울 더한 뒤,
          이 모든 설계를 최소화한 오차로 개발해 나갈때 이루어 집니다
        </p>
        <p>각 작업 하나 하나 중요하게, 그리고 전체적으로 같은 흐름으로 이어나갈때 좋은 작업과 결과가 나온다고 믿습니다</p>
        <a class="more" href="">작업 둘러보기</a>
      </article>
    </section>
    
    <section class="ability">
      <h2>할 줄 아는것</h2>
      <div>
        <h3>기획</h3>
          <ul>
            <li>XD</li>
            <li>Figma</li>
          </ul>
      </div>
      <div>
        <h3>디자인</h3>
          <ul>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>MS Office</li>
          </ul>
      </div>
      <div>
        <h3>퍼블리싱</h3>
        <ul>
          <li>HTML5/CSS3</li>
          <li>SCSS</li>
          <li>jQury</li>
          <li>javascript</li>
          <li>github</li>
          <li>jeckll</li>
        </ul>
      </div>
    </section>

    <section  class="contact">
      <h2>이어지기</h2>
      <div>
        <ul>
          <li>hi.heeraahn@gmail.com <button>바로 보내기</button></li>
          <li>워크넷</li>
          <li>이력서 다운로드</li>
        </ul> 
      </div>
    </section>
  </div>
</body>