---
layout: archive
---
<ul class="list">
  {{ content }}
</ul>

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<div class="taxonomy__index">
  <h3 class="hidden">작업분류</h3>
  <ul>
    <li>
      <button>
        <strong>전체</strong><span class="taxonomy__count">{{ site.posts.size }}</span>
      </button>
    </li>
    {% for i in (1..tags_max) %}
      {% for tag in site.tags %}
        {% if tag[1].size == i %}
          <li>
            <button href="#{{ tag[0] | slugify }}">
              <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </button>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div> -->
