---
layout: archive
---
{% include list_works.html %}

<div class="taxonomy__index">
<h3 class="hidden">필터</h3>
  <ul class="filter">
    <li class="active">
      선택해제
    </li>
    {% for name in type_work %}
    <li>
      {{ name }}
    </li>
    {% endfor %}
  </ul>
  <p class="years">2011<span>-</span>{{site.time | date: '%y'}}</p>
</div>

<!-- section calss .list.col 적용시, include부문에 class="bg_modal"추가 -->
{% assign posts = site.posts | sort: "post.start_date" | reverse %}
<section class="list">
  <ul>
    {% for post in posts %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </ul>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}</a>
</section>

