---
layout: archive
---
<body>
  <section class="intro">
    <h2>
      글쓰고 그림그리고 코딩하는
      <svg>
        <filter id="txt_filter">
          <feTurbulence result="TURBULENCE" baseFrequency="0.05" numOctaves="1" seed="1" />
          <feDisplacementMap in="SourceGraphic" in2="TURBULENCE" scale="9" />
        </filter>
        <text x="0" y="90%" textLength="30%" lengthAdjust="spacingAndGlyphs" font-weight="300">아</text>
        <text x="24%" y="90%" textLength="30%" lengthAdjust="spacingAndGlyphs" font-weight="400"><tspan class="hidden">이</tspan>디어</text>
        <text x="19%" y="92%" class="txt2 stroke_ef"><tspan class="big">i</tspan><tspan x="25%">dea</tspan></text>
        <text x="47%" y="90%" textLength="40%" lengthAdjust="spacingAndGlyphs" font-weight="200">커</text>
        <text x="72%" y="90%" textLength="40%" lengthAdjust="spacingAndGlyphs" font-weight="400">넥터</text>
        <text x="65%" y="92%" textLength="45%" lengthAdjust="spacingAndGlyphs" class="txt2 stroke_ef"><tspan>conecter</tspan></text>
      </svg>
    </h2>
    <article>상상속 아이디어를 세상에 연결 해내는 순간과 과정에서 <span>일의 가치와 행복을 느끼는 기획자, 디자이너, 퍼블리셔,</span> <span>아이디어 커넥터 안희라 입니다</span></article>
    <div>
      <ul>
        <li>화면기획<sub>UX/UI</sub></li>
        <li>화면디자인<sub>GUI</sub></li>
        <li>브랜딩<sub>BI/CI</sub></li>
        <li>웹 퍼블리싱<sub>Web Publishing</sub></li>
        <li><span>+</span>???<sub><span>+</span>more</sub></li>
      </ul>
      <span>이어지기</span>
    </div>
  </section>
  {{ content }}
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <section class="entries-{{ entries_layout }} recent">
    <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_works | default: "프로젝트" }}</h2>
    <a class="more" href="./categories/work">더보기</a>
    <ul>
      {% for post in posts limit: 9 %}
        {% if post.top == none %}
          {% include archive-single.html type="grid" %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <!-- {% include paginator.html %} -->
  <!-- <section class="about">
    {% assign pageabout = site.pages | where: 'permalink', '/about/' %}
    {% for item in pageabout %}
      <h3 class="title_bar">{{ item.title }}</h3>
      <section>
      <article>{{ item.excerpt }}</article>
      <p>{{ item.content }}</p>
      </section>
    {% endfor %}
  </section> -->
</body> 
