---
layout: default
---


<body>
  {% include list_works.html %}
  <section class="works">
    <h3>{{ site.data.ui-text[site.locale].recent_works | default: "최근 작업" }}</h3>
    {{posts}}
    <ul class="category_works">
      {% for name in type_work %}
        {% assign post = site.posts | where_exp: "post", "post.areas contains name and post.areas.size == 1" | first %}
        <li>
          <h4>{{ name }}</h4>
          {% if post %}
          <a href="{{post.url | relative_url }}">
            <img src="{{post.header.teaser | relative_url }}" alt="{{post.title}} 더보기">
          </a>
          {% endif %}
        </li>
      {% endfor %}
      <li class="more"><a class="more" href="./works/">더보기</a></li>
    </ul>
  </section>

  <section class="about">
    {% assign pageabout = site.pages | where: 'permalink', '/about' %}
    {% for item in pageabout %}
      <h3>{{ item.title }}</h3>
      <img src={{item.profile}} alt="안희라 프로필" />
      <p>{{ item.excerpt }}</p>
      <a class="more" href="{{ item.url | relative_url }}">더보기</a>
    {% endfor %}
  </section>
</body>

