.layout--about{
  #main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  section{
    margin:$m-54 $m-24 $m-54  0;
  }

  .about{
    margin-top: 50vh;
    margin-bottom: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    font-size: 2.5vw;
    
    > article{
      font-family: $point-font;
      word-spacing: -0.5vw;
      margin-left: calc((100% / 12) * 3);

      b{
        text-align: right;
        display: block;
        font-weight: 300;
        margin-bottom: $m-100;
      }
    }
  }

  ul li{
    display: block;
  }

  section:not(.about, .attitude){
    order: 2;
    width: calc((100% / 12) * 6);
    gap: calc(100% / 6);
    
    ul{
      li{
        margin: 0;
      }
    } 
  }

  h2{
    font-size: $type-size-3;
  }

  
  .attitude{
    order: 1;
    ul{
      margin-left: 1.5em;
      
      li{
        display:list-item;
        list-style-position: outside;
        list-style-type: decimal;
        padding-left: 1rem;
      }
    }
  }

  .workScopeTools{
    display: flex;
  }

}