.layout--category{
  // background-color: white;
  // filter: invert(100%) hue-rotate(180deg);

  .archive{
    @include breakpoint($large){
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    @include breakpoint($x-large){
      padding: 0;
    }
  }
  
  .back-to-top{
    order: 4;
    align-self: flex-end;
  }

  .taxonomy__index{
    width: fit-content;
    padding: 0 36px;
    margin: 0;
    width: calc(100% / 8 * 2);
    float: right;
    text-align: right;

    ul{
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 400;
      font-family: $serif;
      color: $light-gray;

      li{
        display: inline-block;
        margin: 0;
        cursor: pointer;
        
        &::before{
          content: "/";
        }
      }

      li.active{
        color: black;
        font-weight: 500;
      }
    }
  }

  .archive .list{
    width: 100%;
    $unit_width: calc((100vw - 20px) / 5);
    //산출 : 뷰포트 - 스크롤바 / 한줄에 들어가는 아이템 갯수

    &.row{
      display: flex;
      flex-wrap: wrap;

      .year_div{
        display: inline-block;
        height: fit-content;
        border-bottom: solid 1px $light-gray;
        padding: 36px 0;

        &:first-of-type{
          h3.year_name{
            position: relative;
            overflow: visible;
            &::before{
              content: "20";
              position: absolute;
              transform: translateX(-1.1em);
            }
          }
        }

        h3.year_name{
          float: left;
          display: inline-block;
          width: $unit_width;
          height: 100%;
          margin: 0;
          padding: 0 36px;
          font-family: $serif;
          font-style: italic;
          font-size: 7vw;
          letter-spacing: -0.05em;
          font-weight: lighter;
          line-height: 1;
          text-align: right;
          color: $lighter-gray;
        }

        > ul{
          display: inline-flex;
          margin: 0;
          
          > li{
            //display: table-cell;
            //vertical-align: bottom;
            width: $unit_width;
            height: 40vh;
            padding: 0 36px;
            margin-bottom: 0;
            position: relative;

            h3{
              font-size: 1.5rem;
              color: black;
              font-weight: 500;
              position: relative;

              a{
                color: inherit;
              }
            }
            h3 ~ ul{
              margin: 0;
              > li {
                margin: 0;
                display: inline-block;
              }
            }
            strong{
              visibility: hidden;
              color:transparent;
              position: absolute;
              z-index: -2;
            }

            figure{
              height: 100%;
              width: 100%;
              padding: 0;

              img{
                height: inherit;
                width: auto;
                object-fit: contain;
              }
            }

            > *:not(h3, .areas, figure){
              font-size: .9rem;
              visibility: hidden;
              position: absolute;
            }

      
            &:hover{   
            }

          }
        }
      }
    }
  }
}
