.layout--category{
  background-color: $background-color-dark;
  min-height: 100vh;
  
  .archive{
    @include breakpoint($large){
      width: 100%;
      // display: flex;
      padding: 0;
      margin: 0;
    }
  
    @include breakpoint($x-large){
      padding: 0;
    }
  }
  
  .back-to-top{
    order: 4;
  }

  .taxonomy__index{
    padding: 0 36px;
    margin: 0 0 25vh;
    width: calc(100% / 8 * 4);
    transform: translateY(-2rem);
    letter-spacing: -0.035em;
    line-height: 1.2;
    font-size: 2.5rem;

    >span{
      color: $gray;
      display: block;
      &::after{
        color: $gray;
        margin-left: 0.25em
      } 
    }

    ul{
      margin: 0;
      color: $darker-gray;
      display: inline-block;
      line-height: 1;
      position: relative;
      padding-right: 1em;
      
      &::before{
        content: ">";
        position: absolute;
        right: 0;
        top: 0.1em;
        font-size: 0.7em;
        line-height: 0.7;
        color: $gray;
        padding: 0.2em 0.2em 0.2em 0.3em;
        display: inline-block;
        transform: rotate(90deg);
        // border-radius: 50%;
        // border: solid 3px $gray;
      }

      li{
        display: block;
        margin-bottom: 0;
        cursor: pointer;
        
        &:not(.active){
          @include hidden;
        }
      }

      li.active{
        font-size: inherit;
        color: $gray;
      }
    }
  }

  section.list{
    clear: both;
    width: 100%;
    overflow: hidden;

    > ul{
      width: 100%;
      margin: 0;
      display: flex;
      color: $light-gray;
      font-size: 1.2rem;
      gap: calc(36px / 2);
      padding: 0 36px;

      $list-size : 4; 
      > li{
        //display: table-cell;
        //vertical-align: bottom;
        position: relative;
        width: calc(100% / 4);
        margin-bottom: 0;
        position: relative;
        padding: 0.8rem 0;
        border-top: solid 3px $gray;

        h3{
          width: 80%;
          text-align: right;
          font-size: 2.5rem;
          line-height: 1.2;
          color: inherit;
          font-weight: 500;
          margin: 0 0 10vh auto;

          a{
            color: inherit;
          }
        }

        h3 ~ ul{
          margin: 0;
          > li {
            margin: 0;
            line-height: 1.2;
          }
        }

        strong{
          visibility: hidden;
          color:transparent;
          position: absolute;
          z-index: -2;
        }

        figure{
          visibility: hidden;
          text-align: center;
          height: 10vh;
          width: calc(100% / #{$list-size});
          padding: 0;
          transform-origin: center;

          img{
            height: 100%;
            width: auto;
            object-fit: contain;
          }
        }

        &:hover{
          > figure{
            height: 20vh;
            transform: scale(1.5);
          } 
        }

        .proj_year{
          line-height: 1;
          position: absolute;
          top: 1rem;
          left: 0;
        }

        > *:not(h3, .areas, figure, .proj_year){
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
}
