.layout--category{
  background-color: $background-color-dark;
  min-height: 100vh;

  .archive{
    @include breakpoint($large){
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    @include breakpoint($x-large){
      padding: 0;
    }
  }
  
  .back-to-top{
    order: 4;
  }

  .taxonomy__index{
    width: fit-content;
    padding: 0 36px;
    margin: 0;
    ul{
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 400;
      font-family: $serif;

      li{
        display: inline-block;
        margin: 0;
        cursor: pointer;
        
        &::before{
          content: "/";
        }
      }

      li.active{
        color: black;
        font-weight: 500;
      }
    }
  }

  section.list{
    width: 100%;

    .year[id]{
      display: flex;
      justify-content: space-between;
      height: fit-content;
      border-bottom: solid 1px $light-gray;
      padding: 36px 0;

      h3.year_name{
        order: 1;
        height: 100%;
        width: fit-content;
        font-family: $serif;
        font-style: italic;
        font-size: 2.5rem;
        letter-spacing: -0.05em;
        font-weight: lighter;
        line-height: 1;
        text-align: center;
        width: calc(100% / 8);

        span{
          border-left: solid 4px $black;
          border-right: solid 4px $black;
          border-radius: 1em;
          padding: 0 0.5em 0 0.35em;
        }
      }

      $list-size : 7; 
      > ul{
        width: calc(100% / 8 * #{$list-size});
        margin: 0;
        
        > li{
          //display: table-cell;
          //vertical-align: bottom;
          display: flex;
          width: 100%;
          margin-bottom: 0;
          position: relative;

          h3{
            order: 1;
            font-size: 2.5rem;
            color: $black;
            font-weight: 500;
            padding: 0 36px;
            margin-right:auto;
            //width: calc(100% / #{$list-size} * 3);

            a{
              color: inherit;
            }
          }

          h3 ~ ul{
            margin: 0;
            > li {
              margin: 0;
              line-height: 1.2;
            }
          }

          strong{
            visibility: hidden;
            color:transparent;
            position: absolute;
            z-index: -2;
          }

          figure{
            order: 1;
            text-align: center;
            height: 10vh;
            width: calc(100% / #{$list-size});
            padding: 0;
            transform-origin: center;

            img{
              height: 100%;
              width: auto;
              object-fit: contain;
            }
          }

          &:hover{
            > figure{
              height: 20vh;
              transform: scale(1.5);
            } 
          }

          .areas{
            padding: 0 36px;
            //text-align: right;
            width: calc(100% / #{$list-size});
          } 

          > *:not(h3, .areas, figure){
            visibility: hidden;
            position: absolute;
          }
        }
      }
    }
  }
}
