/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  color: $lighter-gray;

  .page__footer {
    max-width: 100%;
    line-height: 1.2;
    padding: 0 36px 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: hidden;
    font-size: 1.1rem;

    h4{
      font-size: 0.9rem;
    }

    ul{
      padding: 0;
      margin: 0;

      li {
        display: block;
        margin-bottom: 0;
      }
    }

    .service{
      text-align: left;
      width: calc(100% / 8 * 3);
      height: calc(7vw * 1.5);
      font-size: calc(7vw * 1.5);
      font-family: $serif;
      overflow: hidden;
      position: relative;
      margin-bottom: 1rem;

      ul{
        width: 1000%;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1;

        li{
          display: inline-block;
          margin-right: 1em;
        }
      }
    }


    .location,
    .contact,
    .other_links{
      order: 1;
      font-size: 1.5rem;
      color: black;
    }

    .other_links{
      li{
        display: inline-block;
        &:not(:last-of-type)::after{
          content: "/"
        }
      }
    }

    .page__footer-copyright {
      width: calc(100% / 8 * 5);
      font-size: calc(7vw * 1.5);
      font-weight: 500;
      line-height: 1;
      margin-bottom: 0;
      text-align: right;
    
      span:first-of-type{
        position: relative;
      }

      span:last-of-type{
        font-size: 1rem;
        display: block;
      }
    }


    p:last-of-type{
      order: 2;
      font-size: 1rem;
      text-align: right;
      a{
        color: inherit;
      }
      span{
        display: block;
      }
    }
  }
}

