/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  width: 100%;
  clear: both;
  color: inherit;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;

  .page__footer {
    max-width: 100%;
    line-height: 1.2;
    font-size: 1rem;
    padding: 5vh 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
    p{
      margin: 0;
      font-size: inherit;
    }
    
    a{
      color: inherit;
    }
    
    .email{
      width: 100%;
      margin-bottom: -1em;
    }

    .other_links{
      list-style: none;
      display: inline-flex;
      column-gap: 1.5em;
      margin: 0 0 0 1rem;
 
      li{
        display: inline-block;
        
        &:not(:last-of-type)::after{
          content: "/";
        }
      }
    }

    p:last-of-type{
      width: fit-content;
      display: inline-block;
      float: right;

      span{
        display: block;
        color: inherit;
      }
    }
  }
}

