@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.layout--home{
  #main{
    max-width: 100%;
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/img/img_main1.png), url(../../assets/img/img_main2.svg), url(../../assets/img/img_main3.png);
    background-repeat: no-repeat;
    background-size: 35% auto, 38% auto, 12% auto;
    background-position-x: 90%, 34%, 10%;
    background-position-y: bottom 10vh, bottom 10vh, bottom 5vh;
    position: relative;
  }

  .intro h2{
    margin: -20vh 0 0; 
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-family: $serif;
    font-size: $h-size-1;
    color: $gray;
    letter-spacing: -2.5px;
    word-spacing: 2rem;

    svg{
      margin-top: -10vh;
      width: 80%;
      height: 30vh;
      font-family: "SCoreDream";
      font-size: 18vh;
    }

    svg text{
      &.txt2{
        font-family: 'Ms Madi', cursive;
        //font-family:'Petit Formal Script', cursive;
      }

      &.txt2 tspan.big{
        font-size: 180%;
        //font-size: 110%;//.ouline 스타일 적용시
      }
    }

    .stroke_ef{
      fill: green;
      filter: url(#txt_filter);
    }

    // .outline{
    //   font-size: 60%;
    //   fill: white;
    //   stroke: black;   
    // }
  }

  .intro>article{
    font-size: $type-size-1;
    width: 40%;
    text-align: center;
    letter-spacing: -1px;
    
    span{
      display: block;
    }
  }

  .intro div{
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: $type-size-1;
    margin-bottom: 5vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    ul{
      width: 70%;
      font-weight: 400;
      display: flex;
      justify-content: space-around;
    }

    ul li{
      text-align: center;
      flex-grow: 1;

      &:nth-last-of-type(1){
        position: relative;

        &::before{
          position: absolute;
          left: 0;
          top: 0;
          content: "(";
        }

        &::after{
          position: absolute;
          right: 0;
          top: 0;
          content: ")";
        }
      }
    }

    ul li sub{
      display: block;
      margin-top: 1vh;
    }

    >span{
      width: 15%;
      height: 8vh;
      text-align: center;
      background: black;
      border-radius: 50%;
    }

  }

  .archive{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .page__title{
    display: none;
  }

  .entries-list{
    h2{
      a{
        font-size: 1.45rem;
      }
    }

    ul{
      padding-left: 0;
      margin: 0;
  
      li{
        margin: 0;
      }
    }
  }

  .entries-list.recent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    h2{
      width: 100%;
    }

    a.more{
      order: 3;
      display: block;
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
    }
    
    ul{
      width: 80%;
      display: flex;
      gap: 0 2rem;

      li{
        width: calc(100% / 4);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 5% 2.5%;

        .tags,
        .archive__item-title{
          white-space: nowrap;
        }

        .tags{
          order: 0;
          width: 30%;
        }

        .archive__item-title{
          width: 65%;
          font-size: $h-size-4;
          order: 1;
        }

        .work_date{
          width: 70%;
          text-align: left;
          order: 3;
          line-height: 0;
          margin: 0;
          font-size: $type-size-2;
          font-style: italic;
          padding-left: 2.5%;
        }
        
        .archive__item-excerpt{
          font-size: 0;
        }

        .archive__item-teaser{
          width: 100%;
          height: 30vh;
          max-height: 30vh;
          flex-grow: 1;
          border-radius: 3rem;
          overflow: hidden;

          img{
            object-fit: contain;
          }
        }
      }
    }
  }
}