.layout--home{
  #main{
    max-width: 100%;
  }

  .intro{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .intro h2{
    margin: 0;
    order: 4;
    text-align: center;
    display: inline-flex;
    width: 100%;

    svg{
      width: 100%;
      height: 30vh;
    }
    svg text{
      font-family:"EliceDigitalBaeum_Regular";
      font-size: 30vh;
    }
  }

  .intro h3{
    font-size: 5vw;
    width: 100%;
    font-weight: normal;

    ul{
      width: 100%;
      position: relative;

      li{
        &:nth-of-type(1){
          float: left;
        }
        &:nth-of-type(2),
        &:nth-of-type(3){
          text-align: right;
        }
      }
    }


    sub{
      font-weight: lighter;
      top: 8vh;
      left: 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      position: absolute;
      font-size: 4vh;
    }

    @for $i from 1 through 4{
      li:nth-of-type(#{$i}){
        sub{
          margin-top: calc( (4vh + 8vh) * (#{$i} - 1) );
        }
      }
    }
  }

  .archive{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .page__title{
    display: none;
  }

  a.more{
    display: inline-block;
    font-size: $type-size-3;
    color: $muted-text-color;
    font-weight: lighter;
    position: relative;
    transition: 0.4s;
  
    &::after{
      content: "+";
      display: inline-block;
      background: #999;
      width: 80px;
      height: 80px;
    }
  }

  .entries-list{
    h2{
      a{
        font-size: 1.45rem;
      }
    }

    ul{
      padding-left: 0;
      margin: 0;
  
      li{
        margin: 0;
      }
    }
  }

  .entries-list.main{
    width: 100%;
    margin-bottom: $m-100;

    > ul{
      width: 90%;

      li{
        display: grid;
        align-items: center;
        width: 100%;
        position: relative;
        grid-template-columns: repeat( 9, 1fr );

        .archive__item-teaser{
          grid-column: 1 / span 5;
          grid-row: 1 / span 3;
          z-index: 0;
          max-height: unset;
          position: relative;
          overflow: hidden;
          box-sizing: border-box;
          border: solid 80px rgba(black, 0.05);
          border-radius: 0;
          margin: 0;
  
          &::before{
            content: "";
            display: block;
            padding-top: 133%;
          }
  
          @include breakpoint($large){
            // width: 40%
          }
  
          >img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
          }
        }

        .tags{
          grid-column: 5 / span 2;
          grid-row: 1;
          z-index: 1;
          place-self: end start;
          margin-top: $m-36;
        }

        h3{
          grid-column: 5 / span 4;
          grid-row: 2;
          place-self: end start;
          z-index: 1;

          a{
            font-size: $h-size-1;
            letter-spacing: 5px;
          }
        }

        .archive__item-excerpt{
          grid-column: 6 / span 2;
          grid-row: 3;
          margin-left: 10%;
          font-size: $type-size-3;
          font-weight: lighter;
        }

        .work_date{
          position: absolute;
          left: 0;
          bottom: 0;
          transform-origin: left bottom;
          transform: rotate(-90deg);
          font-size: $type-size-5;
          bottom: unset;
          grid-column: 1;
          grid-row: 2;
          place-self: center center;
          position: unset;
        }
      }
    }
  }

  .entries-list.recent{
    width: 100%;
    margin-bottom: $m-100;
    position: relative;

    h2{
      font-weight: lighter;
      font-size: 6vw;
      letter-spacing: 10px;
      margin: 0;
      padding: 0;
      //transform: rotate(-90deg);
      line-height: 0.95;
      height: 380px;
      text-indent: 110px;
      writing-mode: vertical-lr;
      word-break: normal;
      float: right;
    }
    
    a.more{
      position: absolute;
      bottom: 0;
      right: 0;
    }

    ul{
      width: 60%;
      float: left;

      li{
        height: calc( 100vh / 3 );
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        gap: $m-36;
        border-bottom: solid 1px rgba(black, 0.05);

        .tags,
        .archive__item-title{
          margin-top: $m-54;
          white-space: nowrap;
        }

        &:first-of-type{
          .tags,
          .archive__item-title{
            margin-top: 0;
          }
        }

        .tags{
          order: 0;
        }

        .archive__item-title{
          order: 1;
          flex: 1;
        }

        .work_date{
          width: 100%;
          text-align: right;
          order: 3;
          line-height: 0;
          margin: 0;
          font-size: 3vh;
          font-style: italic;
          align-self: end;
        }
        
        .archive__item-excerpt{
          font-size: 0;
        }

        .archive__item-teaser{
          max-width: 30%;
          position: absolute;
          top: 0;
          visibility: hidden;
          
          img{
            object-fit: contain;
          }
        }
      }
    }
  }

  .about{
    display: inline-flex;
    flex-direction: column;
    align-self: flex-end;
    width: 70%;

    h3{
      font-size: 0;
    }

    p{
      font-size: $h-size-3;
      font-weight: lighter;
      margin-top: 1rem;
    }

    a{
      margin-top: $m-54;
    }
  }
}