$color_bg_intro: rgb(33,33,33);

.layout--home{
  #main{
    // font-family: 'Chosunilbo_myungjo', serif;
    max-width: 100%;
    padding: 0 24px;
    margin: 0;
  }

  #main > .archive{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .intro{
    @include grid_12;

    grid-template-rows: $grid-row-4;
    letter-spacing: -0.05em;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.8;
    font-size: 1.2vw;
    height: 100vh;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    background: url(../../assets/img/design.png) no-repeat 55% 30%;
    background-size: 25% auto;

    div{
      font-family: $point-font;
      word-spacing: -0.5rem;
      color: black;
      grid-column: 1 / 8;
      grid-row: 1 / 2;
      line-height: 1;
      //align-self: center;
      text-align: left;
      font-size: 4vw;

      ul{
        margin: 0;
        li{
          display: inline-block;
          word-break: keep-all;
          margin-bottom: 0.25em;

          &:nth-of-type(3){
            display: block;
            text-align: right; 
            margin-bottom: 0;
          }

          &:nth-of-type(4){
            margin-top: -0.5em;
            margin-bottom: 0;
            width: 50%;
            text-align: right;
            font-family: 'Kanginhan';
            filter: url(#distort);
            font-size: 1.6em;
          }
        }
      }

      b{
        margin-top: -0.5em;
        display: block;
        box-sizing: border-box;
        font-weight: normal;

        i{
          display: inline-block;
          width: 1em;
          color: transparent;
          &::selection{
            color: transparent;
          }
          &:nth-of-type(1){
            content: url(../../assets/img/char1.png);
            transform: scale(0.95) translateY(10px);
          }

          &:nth-of-type(2){
            content: url(../../assets/img/char2.png);
            transform: scale(0.9) translateY(15px) translateX(-8px);
          }
        }
      }
    }

    article{
      grid-column: -2 / -5;
      grid-row: 2/4;
      font-weight: 500;
      text-align: justify;
      word-spacing: -0.5px;
      align-self: center;
      box-sizing: border-box;
    }
  }  
}