/* ==========================================================================
   MASTHEAD
   ========================================================================== */

$logo-size : 0.9rem;
$logo-bracket-weight: 2px;
.masthead {
  position: relative;
  color: black;
  width: 100%;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 10;
}

svg{
  transform: skew(-15deg);
  position: relative;
  margin-top: -5vh;
}

.masthead__menu {
  margin-left: 0;
  margin-right: 0;
}

#site-nav{
  font-size: $logo-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  a {
    text-decoration: none;
  }

  h1{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 0.9;
    padding-left: 36px;
    color: inherit;
    font-size: inherit;
    width: 20%;
    a{
      color: inherit;
    }
  }

  @include breakpoint($large) {
    color: inherit;
    line-height: 1;

    .visible-links{
      order: 1;
      width: 100%;

      > ul{
        margin: 0;
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;

        &:hover{
          li{
            position: relative;
          }
        }

        li{
          width: fit-content;
          display: block;
          padding: 0 36px;
          position: relative;
          transition: opacity 0.25s;

          &:last-of-type{
            display: none;
          }
 
          &.active{
            color: inherit;
            font-weight: 600; 
            position: relative;
          }

          a{
            font-weight: inherit;
            letter-spacing: inherit;
            color: inherit;
            vertical-align: text-top;
          }
        }
      } 
    }

    .info_contact{
      margin-left: auto;
      display: inline-flex;
      justify-content: space-between;
      width: 50%;
      padding-right: 36px;

      li{
        display: inline-block;
      }
    }
  }
}

.masthead__menu-item {
  list-style-type: none;
  white-space: nowrap;
  letter-spacing: -0.08em;

  a {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: black;
      width: 100%;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      -webkit-transform: scaleX(0) translate3d(0, 0, 0);
      transform: scaleX(0) translate3d(0, 0, 0); // hide
    }

    &:hover:before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); // reveal
    }
  }

}
