/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  color: black;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 1;
}

.masthead__menu {
  margin-left: 0;
  margin-right: 0;
}

#site-nav {
  font-size: 0.9rem;
  
  a {
    text-decoration: none;
  }

  h1{
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    padding: 0 36px;
    width: fit-content;

    .years{
      float: right;
    }
  }

  @include breakpoint($large) {
    color: inherit;
    
    .visible-links{
      width: calc(100% / 8);
      padding: 0 36px;
      display: inline-block;
      float: left;

      > ul{
        line-height: 1;
        margin: 0;

        li{
          display: block;
          position: relative;
          transition: opacity 0.25s;
          color: $light-gray;

          &.active{
            color: inherit;
            font-weight: 600; 
            position: relative;
          }

          a{
            font-weight: inherit;
            letter-spacing: inherit;
            color: inherit;
            vertical-align: text-top;
          }
        }
      } 
    }
  }
}

.masthead__menu-item {
  list-style-type: none;
  white-space: nowrap;
  letter-spacing: -0.08em;

  a {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: black;
      width: 100%;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      -webkit-transform: scaleX(0) translate3d(0, 0, 0);
      transform: scaleX(0) translate3d(0, 0, 0); // hide
    }

    &:hover:before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); // reveal
    }
  }

}
