/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: absolute;
  top: 0;
  right: 0;
  //width: 100%;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 1;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    //display: flex;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      //width: 100%;
    }

    nav {
      //display: flex;
      //justify-content: flex-end;
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

#site-nav h1{
  display: inline-block;
  margin: 0;
}

.site-title {
  font-size: $type-size-3;
  text-align: center;
  cursor: default;
  vertical-align: top;
  font-weight: normal; 
}

.site-subtitle {
  font-size: $type-size-2;
}

.masthead__menu {
  margin-left: 0;
  margin-right: 0;
  //width: 100%;
}

#site-nav ul{
  //width: 45%;
  text-align: right;
}

.masthead__menu-item {
  //display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  font-size: $type-size-2;
  letter-spacing: 1px;
  margin-left: 2rem;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }

  a {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: black;
      width: 100%;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      -webkit-transform: scaleX(0) translate3d(0, 0, 0);
      transform: scaleX(0) translate3d(0, 0, 0); // hide
    }

    &:hover:before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); // reveal
    }
  }

  &:first-of-type{
    order: 2;
  }
  
  &:not(:first-of-type){
    order: 1;
  }
}
