/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */

.breadcrumbs {
  @include clearfix;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-family: $sans-serif;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  ol {
    padding: 0;
    list-style: none;
    font-size: $type-size-1;

    @include breakpoint($large) {
      float: right;
      width: calc(100% - #{$right-sidebar-width-narrow});
    }

    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
    }
  }

  li {
    display: inline;
  }

  .current {
    font-weight: bold;
  }
}

/*
  page__nav
  ========================================================================== */
$pageNav-height-lg : 54px;

.page__nav{
  border-top: solid 1px #efefef;
  width: 100%;
  height: $pageNav-height-lg;
  display: flex;
  align-items: center;
  background-color: rgba(white, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  /* visibility: hidden;
  top: -100px;
  transition: top 0.25s;*/
}

/*.page__nav.on{
  visibility: visible;
  top: 0;
}*/



/*
  Post pagination navigation links
  ========================================================================== */

.pagination {
  @include clearfix();
  flex: 1;
  height: 100%;

  ul{
    display: flex;
    height: inherit;
  }

  li {
    width: calc( 100% - 46px / 2 );

    &:nth-of-type(1){
      text-align: left;
      flex: 1;
    }

    &:nth-of-type(2) {
      text-align: right;
      flex: 1;
    }

    &:nth-of-type(3) {
      width: $pageNav-height-lg;
      height: 100%;
    }
  }

  li:nth-of-type(3) a{
    font-size: 0;
    justify-content: center;
  }

  
  li a {
    width: 100%;
    box-sizing: border-box;
    text-align: inherit;
    display: block;
    padding: 0.25em 1em;
    font-size: $type-size-4;
    line-height: 1.5;
    text-decoration: none;
    color: #ccc;
    border-radius: 0;

    &.current,
    &.current.disabled {
      color: #fff;
      background: $primary-color;
    }

    &.disabled {
      color: rgba($muted-text-color, 0.5);
      pointer-events: none;
      cursor: not-allowed;
    }

    span{
      display: block;
      font-size: $type-size-2;
      color: $muted-text-color;
    }

    
    &:hover {
      background-color: rgba(#000, 0.05);

      span{
        color: black;
        text-decoration: underline;
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    display: block;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    height: 100%;
    float: left;
    width: 50%;
    font-size: $type-size-4;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    border-right: 1px solid rgba(#000, 0.1);
    
    &.disabled {
      color: rgba($muted-text-color, 0.5);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}


/*
   Social sharing
   ========================================================================== */

.page__share {
  border-right: 1px solid rgba(#000, 0.1);
  height: 100%;
}

.page__share-title {
  font-size: 0;
  height: inherit;
  width: $pageNav-height-lg;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;

  i{
    font-size: $type-size-1;
    color:#ccc ;   
  }
}

.page__share ul{
  position: absolute;
  background: white;
  border-radius: $border-radius;
  overflow: hidden;
  border: solid 1px #efefef;
  margin-left: 1rem;
  margin-top: 0.5rem;
  top: -100px;
  opacity: 0;
  visibility: hidden;

  li{
    margin-bottom: 0;
  }

  a{
    display: block;
    font-size: $type-size-2;
    font-weight: normal;
    color: $muted-text-color;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    text-align: left;
  }
}  

.page__share ul.show{
  top: unset;
  opacity: 1;
  visibility: visible;
  transition: top 0.25s, opacity 0.5s;
}

/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: $nav-height;
  background: transparent;

  a {
    display: block;
    margin: 0 1rem;
    color: inherit;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
      color: $masthead-link-color-hover;
    }
  }
  
  img{
    -webkit-transition: none;
    transition: none;
  }

  &__toggle {
    -ms-flex-item-align: center;
    align-self: center;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .visible-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    
    li {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    -webkit-box-shadow: 0 2px 4px 0 rgba(#000, 0.16),
      0 2px 10px 0 rgba(#000, 0.12);
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $h-size-3;

      &:hover {
        color: $masthead-link-color-hover;
        background: $navicon-link-color-hover;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $background-color transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.no-js {
  .greedy-nav {
    .visible-links {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: visible;
    }
  }
}

/*
     Navigation list
     ========================================================================== */

.nav__list {
  margin-bottom: 1.5em;

  input[type="checkbox"],
  label {
    display: none;
  }

  @include breakpoint(max-width $large - 1px) {
    label {
      position: relative;
      display: inline-block;
      padding: 0.5em 2.5em 0.5em 1em;
      color: $gray;
      font-size: $type-size-1;
      font-weight: bold;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
      z-index: 20;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 1em;
        top: 1.25em;
        width: 0.75em;
        height: 0.125em;
        line-height: 1;
        background-color: $gray;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
      }

      &:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      &:hover {
        color: #fff;
        border-color: $gray;
        background-color: mix(white, #000, 20%);

        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }

    /* selected*/
    input:checked + label {
      color: white;
      background-color: mix(white, #000, 20%);

      &:before,
      &:after {
        background-color: #fff;
      }
    }

    /* on hover show expand*/
    label:hover:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    input:checked + label:hover:after {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    ul {
      margin-bottom: 1em;
    }

    a {
      display: block;
      padding: 0.25em 0;

      @include breakpoint($large) {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav__list .nav__items {
  margin: 0;
  font-size: 1.25rem;

  a {
    color: inherit;
  }

  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
  }

  @include breakpoint(max-width $large - 1px) {
    position: relative;
    max-height: 0;
    opacity: 0%;
    overflow: hidden;
    z-index: 10;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }
}

@include breakpoint(max-width $large - 1px) {
  .nav__list input:checked ~ .nav__items {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    max-height: 9999px; /* exaggerate max-height to accommodate tall lists*/
    overflow: visible;
    opacity: 1;
    margin-top: 1em;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.nav__title {
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-family: $sans-serif-narrow;
  font-size: $h-size-3;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-1;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
}

/*
     Table of contents navigation
     ========================================================================== */

.toc {
  color: $gray;
  text-align: right;

  .nav__title {
    font-size: $type-size-4;
    padding: 0;
    font-weight: lighter;
    margin-bottom: 0.75rem;

    i{
      font-size: 0;
    }
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
    //@include yiq-contrasted($active-color);
    margin: 0.5rem 0;
    color: black;
    position: relative;
    font-size: $type-size-3;

    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 24px;
      height: 1px;
      background: black;
      right: -1 * $m-36;
    }
  }
}

.toc__menu {
  margin: 0;
  padding-left: 1rem;
  width: 100%;
  list-style: none;
  font-size: $type-size-4;

  @include breakpoint($large) {
    //font-size: $h-size-3;
  }

  a {
    display: block;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: #999;
    line-height: 1.5;

    &:hover {
      color: $text-color;
    }
  }

  li ul > li a {
    padding-right: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-right: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-right: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-right: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 3.25rem
  }
}

