

.layout--single{
  color: $secondary-color;
  position: relative;

  .page__wrapper{
    transition: transform 0.75s cubic-bezier(0, 0.25, 0.75, 1);
    position: absolute;
    top: 0;
    padding-bottom: 10vh;
    background: $primary-color;
  }
  
  .masthead{
    top: 0;
    z-index: 2;
    width: 100%;

  }

  h4{
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }

  h3 i,
  h4 i{
    display: none;
  } 

  #main{
    position: relative;
  }

  .page__header{
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    position: relative;

    .page__title{
      @include bigTypho_ko;

      // font-size: $mdTypo;
      // font-weight: 400;
      display: unset;
      width: calc(100% / 8 * 6);
      text-align: right;
      line-height: 1;
      color: inherit;
      padding: 0 36px;
      margin-left: auto;
      margin-top: 8rem;
      
      @include breakpoint($large){
        height: fit-content;
        font-size: $bigTypo_ko;
        position: relative;
        z-index: 1;
        margin: 5rem 0 0.5em auto;
        max-width: calc(100% / 8 * 5);
        width: fit-content;
        padding-left: 0;
        mix-blend-mode: difference;
      }
    }
 
    figure{
      width: calc(100% / 8 * 4);
      padding: 0 36px;
      text-align: center;
      height: fit-content;
      min-height: 12.5vw;
      z-index: -1;
      margin: -3rem auto 0;

      figcaption{
        display: none;
      }

      img{
        max-height: 90vh;
        object-fit: cover;
        background-color: $secondary-color;
      }
    }
  }

  .toc{
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
    min-width: calc(100% / 8);
    color: rgba($secondary-color, 0.5);
    padding: 0 36px;
    z-index: 2;
    position: relative;

    @include breakpoint($large) {
      margin-top: calc(20vh +  #{$mdTypo});
      order: -1;
    }

    header{
      @include hidden;
      // width: fit-content;
      // text-align: center;
      // border-color: rgba($secondary-color, 0.5);
      // border-left: solid 2px;
      // border-right: solid 2px;
      // border-radius: 1.5em;
      // padding: 0.15em 0.5em;
      // margin-bottom: 0.25em;
    }
    
    header + ul{
      li{
        padding-left: 2em;

        &::before{
          left: 0;
        }

        &.active{
          color: $secondary-color;
        }
      }
    }
  }

  .summary{
    line-height: 1;
    width: 50%;
    margin-left: auto;
    padding-right: 36px;
    align-self: flex-end;

    @include breakpoint($large){
      width: 100%;
      padding: 0 calc(36px / 2);
      margin-top: 1rem;
      margin-left: 0;
      display: inline-block;
      mix-blend-mode: difference;
      order: 1;
      align-self: flex-start;
    }

    h3{
      line-height: 1;
      font-size: 1rem;
      word-break: keep-all;
      word-wrap: unset;
      padding-right: 36px;
      color: inherit;
      display: inline-block;
      float: left;
    }

    ul{
      font-weight: 500;
      margin: 0;
      //flex: 1;
      max-width: calc(100% / 3 * 2);
      width: fit-content;
      display: inline-block;
      font-size: 1.2rem;

      li{
        margin: 0;
        text-transform: uppercase;
        display: inline-block;
        word-break: break-all;

        &:not(:last-of-type)::after{
          content: "/";
          float: right;
        }
      }
    }

    > div{
      width: 100%;
      padding: 0.5rem 0;
      line-height: 1;
      border-bottom: solid 1px rgba($secondary-color, 0.25);
      
      @include breakpoint($large){
        border-bottom: 0;

        &:first-of-type{
          font-size: $bigTypo_ko;
          line-height: 1;
          max-width: unset;
          padding: 0 0.25em;
          border-left: solid 5px;
          border-right: solid 5px;
          border-radius: 0.5em;
          margin-bottom: 0.5em;
          width: fit-content;
          position: absolute;
          left: 36px;
          top: 12rem;

          h3{
            @include hidden;
          }
        }

        &:not(:first-of-type){
          padding: 1rem 0;
          margin: 0 calc(36px / 2);
          border-top: solid 1px;
          width: calc(100% / 3 - 36px);
          min-height: 12.5vw;
          float: right;
        }
      }
    }
  }

  &:has(figure.thumb){
  }

  .page__content{
    width: 100%;
    max-width: 100%;
    height: fit-content;
    letter-spacing: -0.015em;
    font-size: 1rem;
    margin-bottom: 25vh;
    counter-reset: num;

    & > span:last-of-type{
      display: block;
      width: 100%;
    }
  }

  .page__content section{
    position: relative;
    clear: both;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    padding-top: 36px;
    border-top: solid 1px;
    //background-color: $primary-color;
    
    @include breakpoint($large) {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% / 3 * 2);
      margin-left: auto;
    }

    > h3{
      @include hidden;
      max-width: calc(100% / 8);
      min-width: calc(100% / 8 * 0.5);
      width: fit-content;
      font-size: 1rem;
      line-height: 1;
      font-weight: 400;
      letter-spacing: -0.025em;
      color: inherit;
      padding-right: 36px;
      margin-left: 36px;
    }

    h4{
      margin: 0 36px;
    }

    > ol,
    > ul,
    > p{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.035em;
      margin-top: -0.3rem;
      margin-left: auto;
      max-width: calc(100% / 8 * 4);
      padding-right: 36px;
      flex: 1;
    }

    ul,
    table{
      counter-reset: num;
    }
    
    li{
      margin: 0;
      font-weight: 400;
      position: relative;
      line-height: 1.2;
      padding: 0 0 0.5em;

      &:has(h4){
        padding: 0;
        line-height: 1;
      }
    }

    ul.num{
      margin-top: 0;

      li{
        position: relative;
        padding-left: 2em;

        &::before{
          position: absolute;
          left: 0;
          font-size: 1rem;
          font-weight: 500;
          counter-increment: num;
          content: counter(num, decimal-leading-zero);
        }
      }
    }

    > img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }

          
    hr{
      width: 100%;
      border: 0;
      margin: 36px 0;
    }

    .detail{
      font-size: 1rem;
      position: relative;

      @include breakpoint($large){
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 8 * 2);
        order: 0;
        margin-right: auto;
      }

      hr{
        width: 100%;
        border: 0;
        margin: 0;
      }

      h4, 
      strong{
        font-size: 1rem;
        max-width: calc(12.5vw - 16px);
        min-width: calc((12.5vw - 16px) * 0.5);
        width: fit-content;
        display: inline-block;
        word-wrap: unset;
      }

      > ul,
      > p{
        //border-top: solid 1px;
        //padding: 0.5rem 0;
        margin: 0;
        flex: 1;
      }
    }
    
    .tools{
      li{
        display: inline;
        &:not(:last-of-type){
          &::after{
            content: "/";
            margin-left: 0.25rem;
          }
        }
      }
    }

    figure.gallery{
      clear: both;
    }

    figure.gallery.slides{
      width: 100%;
      position: relative;

      @include breakpoint($large){
        height: 95vh;
        overflow-x: scroll;
        scrollbar-width: none;
        overflow-y: hidden;
      }

      ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        li{
          width: 50%;
          opacity: 0.5;
          filter: grayscale(0.8);
          transition: all 0.5s;
          position: relative;
          
          img{
            object-position: left top;
            object-fit: cover;
            transition: none;
          }

          &.active{
            order: 0;
            width: 100%;
            text-align: center;
            opacity: 1;
            filter: none;
          }
        }

        @include breakpoint($large) {
          float: right;
          width: calc(100% / 8 * 7 - 36px);
          flex-wrap: nowrap;

          li{
            width: 5%;
            height: 100%;
            margin-right: 8px;
          }
        } 
      }

      figcaption{
        @include breakpoint($large){
          height: 100%;
          width: calc(100% / 8);
          display: inline-flex;
          flex-direction: column;
          // justify-content: flex-end;
          padding: 5vh 0 0 36px;
          row-gap: 0.5rem;
          color: inherit;
          margin-right: 36px;
        }

        h4{
          display: none;
        }
        
        span{
          display: none;
          margin-bottom: 0.5rem;
        }
  
        p{
          padding-top: 0.5rem;
          border-top: solid 1px transparent;
          font-size: 1rem;
          line-height: 1.2;

          &.active{
            border-color: $secondary-color;
          }
        }
      }
    }

    &:has(table){
      @include clearfix;
      position: relative;
      flex-wrap: wrap;

      figure{
        order: 0;
        width: 100%;
        padding: 0;
        margin: 5vh auto;
        text-align: right;
        vertical-align: bottom;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        column-gap: calc(36px / 2);
        padding: 0 36px;

        img{
          height: 40vh;
          max-width: calc(100% / 3);
          object-fit: cover;
          object-position: top;
          padding: 0;
          flex: 1;
          filter: contrast(120%) brightness(90%) grayscale(45%) hue-rotate(20deg);
        }

        figcaption{
          display: none;
        }
      }

      table{
        width: 100%;
        padding: 0 36px;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
        overflow: visible;
        margin-top: 2rem;

        @include breakpoint($large) {
          padding-left: 0;
          margin-left: auto;
        }

        thead{
          //border-top: solid 1px $secondary-color;
          margin-bottom: 1rem;
          font-size: 1rem;
          color: rgba($secondary-color, 0.5);
        }

        td{
          padding-top: .5rem;
          padding-bottom: .5rem;
        }

        @include breakpoint($large) {
          margin-top: 0;
          order: 1;
        }  
      }
    }
  }

  .page__content + footer{
    width: 100%;
    padding: 0 36px;
    vertical-align: bottom;
    position: relative;

    aside{
      padding: 0;

      @include breakpoint($large) {
        width: 100%;
        display: inline-block;
      }  

      .back-to-top, 
      .page__share{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        color: inherit;
        text-align: left;
      }

      .page__share{
        border-left: solid 1px;
        border-right: solid 1px;
        border-radius: 1.5em;
        width: fit-content;
        padding: 0 1em;
        float: right;
      }

      .back-to-top{
        width: calc(100% / 8);
      }
    }

    nav{
      a{
        vertical-align: top;
        font-size: 1rem;
        padding: 0;
        color: inherit;
        display: block;
        width: calc(100% / 8);
      }

      div{
        margin-top: -1.2em;
        width: calc(100% / 8 * 6);
        float: right;

        h3{
          font-size: 1rem;
          color: inherit;
          min-width: calc(100% / 6 * 0.5);
          width: fit-content;
          display: inline-block;
          padding-left: 0;
          line-height: 1;
          margin-bottom: -1.5em;
        }
  
        a{
          display: inline-block;
          width: 100%;
          font-size: $mdTypo;
          text-align: right;
          line-height: 1;
          margin-left: auto;
          
          h4{
            font-size: inherit;
            display: inline;
          }

          span{
            margin-left: calc(100% / 6 * 1.5);
          }
        }
      }

      img{
        margin-top: 1rem;
        display: block;
        max-width: calc(100% / 6 * 2);
        height: calc((12.5vw - 16px) * 2);
        width: fit-content;
        padding: 36px;
        background-color: $secondary-color;
        object-fit: contain;
        transform: translateX(-100%);
      }
    }
  }

  .page__footer{
    padding-top: 0;
    padding-bottom: 0;
  }
}
