

.layout--single{
  color: $secondary-color;
  position: relative;

  .page__wrapper{
    transition: transform 0.75s cubic-bezier(0, 0.25, 0.75, 1);
    position: absolute;
    top: 0;
    padding-bottom: 10vh;
    background: $primary-color;
  }
  
  .masthead{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }

  h4{
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }

  h3 i,
  h4 i{
    display: none;
  } 

  #main{
    position: relative;
  }

  .page__header{
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    position: relative;

    // &::before{
    //   content: "00";
    //   display: inline-block;
    //   font-size: $mdTypo;
    //   margin-top: 8rem;
    //   margin-left: 36px;
    //   line-height: 1;

    //   @include breakpoint($large){
    //     position: absolute;
    //     top: 20vh;
    //     margin-top: 0;
    //   }
    // }

    .page__title{
      @include bigTypho_ko;

      // font-size: $mdTypo;
      // font-weight: 400;
      display: unset;
      width: calc(100% / 8 * 6);
      text-align: right;
      line-height: 1;
      color: inherit;
      padding: 0 36px;
      margin-left: auto;
      margin-top: 8rem;
      
      @include breakpoint($large){
        width: calc(100% / 8 * 4);
        text-align: left;
        max-height: calc(7vw * 3);
        height: fit-content;
        font-size: $mdTypo;
        margin: 1.5em 0 0;
        //align-self: flex-end;
      }
    }
 
    figure{
      // order: 1;
      width: 100%;
      background-color: $secondary-color;
      height: fit-content;
      text-align: center;

      figcaption{
        display: none;
      }

      img{
        width: 100%;
        height: fit-content;
        max-height: 90vh;
        object-fit: cover;
      }
          
      &.thumb{
        padding: 36px;
        @include breakpoint($large) {
          width: calc(100% / 8 * 4);
        }
        
        img{
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .toc{
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
    min-width: calc(100% / 8);
    color: rgba($secondary-color, 0.5);
    padding: 0 36px;
    z-index: 2;
    position: relative;

    @include breakpoint($large) {
      margin-top: calc(20vh +  #{$mdTypo});
      order: -1;
    }

    header{
      @include hidden;
      // width: fit-content;
      // text-align: center;
      // border-color: rgba($secondary-color, 0.5);
      // border-left: solid 2px;
      // border-right: solid 2px;
      // border-radius: 1.5em;
      // padding: 0.15em 0.5em;
      // margin-bottom: 0.25em;
    }
    
    header + ul{
      li{
        padding-left: 2em;

        &::before{
          left: 0;
        }

        &.active{
          color: $secondary-color;
        }
      }
    }
  }

  .summary{
    line-height: 1;
    width: 50%;
    margin-left: auto;
    padding-right: 36px;
    align-self: flex-end;

    @include breakpoint($large){
      order: 1;
      margin: 12rem 50% 0 36px; 
      width: fit-content;
    }

    h3{
      line-height: 1;
      font-size: 1rem;
      word-break: keep-all;
      word-wrap: unset;
      padding-right: 36px;
      color: inherit;
      min-width: calc((12.5vw - 16px) * 0.5);
    }

    ul{
      font-weight: 500;
      margin: 0;
      flex: 1;

      li{
        margin: 0;
        text-transform: uppercase;
        display: inline-block;
        word-break: break-all;

        &:not(:last-of-type)::after{
          content: "/";
        }
      }
    }

    > div{
      width: 100%;
      padding: 0.5rem 0;
      line-height: 1;
      display: inline-flex;
      border-bottom: solid 1px rgba($secondary-color, 0.25);

      @include breakpoint($large){
        border-bottom: 0;
        padding: 0.25rem 0;
      }
    }
  }

  &:has(figure.thumb){
    .summary{
      position: absolute;
      bottom: 1rem;
      left: 36px;
      margin: 0;
    }
  }

  .page__content{
    width: 100%;
    max-width: 100%;
    height: fit-content;
    letter-spacing: -0.015em;
    font-size: 1rem;
    margin-bottom: 25vh;
    counter-reset: num;

    & > span:last-of-type{
      display: block;
      width: 100%;
    }
  }

  .page__content section{
    position: relative;
    clear: both;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    padding-top: 20vh;
    //background-color: $primary-color;
    
    @include breakpoint($large) {
      display: flex;
      flex-wrap: wrap;
    }

    > h3{
      max-width: calc(100% / 8);
      min-width: calc(100% / 8 * 0.5);
      width: fit-content;
      font-size: 1rem;
      line-height: 1;
      font-weight: 400;
      letter-spacing: -0.025em;
      color: inherit;
      margin-left: 36px;
      padding-right: 36px;

      @include breakpoint($large){
      }  
    }

    > h3 ~ *:not(figure){
      @include breakpoint($large) {
        max-width: calc(100% / 8 * 3.5);
        padding-right: 36px;
        flex: 1;

        + p,
        + ul,
        + div{
          margin-left: 36px;
          align-self: flex-start;
        }
      } 
    }

    > ol,
    > ul,
    > p{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.035em;
      margin-top: -0.3rem;
    }

    ul,
    table{
      counter-reset: num;
    }
    
    li{
      margin: 0;
      font-weight: 400;
      position: relative;
      line-height: 1.2;
      padding: 0 0 0.5em;

      &:has(h4){
        padding: 0;
        line-height: 1;
      }
    }

    ul.num{
      margin-top: 0;

      li{
        position: relative;
        padding-left: 2em;

        &::before{
          position: absolute;
          left: 0;
          font-size: 1rem;
          font-weight: 500;
          counter-increment: num;
          content: counter(num, decimal-leading-zero);
        }
      }
    }

    > img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }

    .detail{
      font-size: 1.2rem;
      position: relative;

      @include breakpoint($large){
        display: flex;
        flex-wrap: wrap;
        column-gap: 36px;
      }

      hr{
        width: 100%;
        border: 0;
        margin: 0;
      }

      h4, 
      strong{
        font-size: 1rem;
        max-width: calc(12.5vw - 16px);
        min-width: calc((12.5vw - 16px) * 0.5);
        padding-right: 36px;
        width: fit-content;
        display: inline-block;
        word-wrap: unset;
      }

      > ul,
      > p{
        border-top: solid 1px;
        padding: 0.5rem 0;
        margin: 0;
        flex: 1;
      }
    }
    
    .tools{
      li{
        display: inline;
        &:not(:last-of-type){
          &::after{
            content: "/";
            margin-left: 0.25rem;
          }
        }
      }
    }

    figure.gallery{
      clear: both;
    }

    figure.gallery.slides{
      width: 100%;
      position: relative;

      @include breakpoint($large){
        height: 95vh;
        overflow-x: scroll;
        scrollbar-width: none;
        overflow-y: hidden;
      }

      ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        li{
          width: 50%;
          opacity: 0.5;
          filter: grayscale(0.8);
          transition: all 0.5s;
          position: relative;
          
          img{
            object-position: left top;
            object-fit: cover;
            transition: none;
          }

          &.active{
            order: 0;
            width: 100%;
            text-align: center;
            opacity: 1;
            filter: none;
          }
        }

        @include breakpoint($large) {
          float: right;
          width: calc(100% / 8 * 7 - 36px);
          flex-wrap: nowrap;

          li{
            width: 5%;
            height: 100%;
            margin-right: 8px;
          }
        } 
      }

      figcaption{
        @include breakpoint($large){
          height: 100%;
          width: calc(100% / 8);
          display: inline-flex;
          flex-direction: column;
          // justify-content: flex-end;
          padding: 5vh 0 0 36px;
          row-gap: 0.5rem;
          color: inherit;
          margin-right: 36px;
        }

        h4{
          display: none;
        }
        
        span{
          display: none;
          margin-bottom: 0.5rem;
        }
  
        p{
          padding-top: 0.5rem;
          border-top: solid 1px transparent;
          font-size: 1rem;
          line-height: 1.2;

          &.active{
            border-color: $secondary-color;
          }
        }
      }
    }

    &:first-of-type{
      padding-top: 1rem;
    }

    &:has(table){
      @include clearfix;
      width: 100%;
      position: relative;
      
      figure{
        order: 0;
        width: 100%;
        padding: 0;
        margin: 5vh auto;
        text-align: right;
        vertical-align: bottom;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        column-gap: calc(36px / 2);
        padding: 0 36px;

        img{
          height: 40vh;
          max-width: calc(100% / 3);
          object-fit: cover;
          object-position: top;
          padding: 0;
          flex: 1;
          filter: contrast(120%) brightness(90%) grayscale(45%) hue-rotate(20deg);
        }

        figcaption{
          display: none;
        }
      }


      @include breakpoint($large) {
      }

      table{
        width: 100%;
        padding: 0 36px;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
        overflow: visible;
        margin-top: 2rem;

        @include breakpoint($large) {
          padding-left: 0;
        }

        thead{
          border-top: solid 1px $secondary-color;
          margin-bottom: 1rem;
          font-size: 1rem;
          color: rgba($secondary-color, 0.5);
        }

        td{
          padding-top: .5rem;
          padding-bottom: .5rem;
        }

        @include breakpoint($large) {
          display: inline-block;
          width: calc(100% / 8 * 4 - 64px);
          margin-top: 0;
        }  
      }
    }
  }

  .page__content + footer{
    width: 100%;
    padding: 0 36px;
    margin-bottom: 10vh;

    aside{
      text-align: right;
      padding: 0 36px;
    }

    .back-to-top, 
    .page__share{
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      display: inline-block;
      width: calc((100% / 8) / 2);
      color: inherit;
    }
  
    nav{
      margin-top: 5vh;

      h3{
        display: flex;
        margin-top: 36px;
        font-size: 1rem;
        color: inherit;
        
        &::after{
          flex: 1;
          margin-left: 36px;
          width: 100%;
          content: "";
          display: inline-block;
          height: 1px;
          margin-top: calc((1em / 2) + 1px);
          background-color: $secondary-color;
        }
      }

      a{
        width: 100%;
        color: inherit;
        font-size: $mdTypo;
        padding: 1rem 0 0;
        border-bottom: solid 1px $secondary-color;
        height: fit-content;

        &.disabled{
          text-align: center;
          font-size: $txt_md;
          padding-bottom: 1rem;

          span{
            width: 100%;
          }
        }

        span,
        h4{
          line-height: 1;
          font-size: inherit;
          display: inline;
          vertical-align: top;
        }

        h4{
          &::before{
            content: "";
            width: calc(100% / 8);
            height: 1.5em;
            background-image: var(--img-url);
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 1rem;
            vertical-align: top;
          }
        }
      }
    }
  }
}
