/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  border-collapse: collapse;
  overflow-x: auto;
  overflow: hidden;

  & + table {
    margin-top: 1em;
  }
}

thead {
  display: table;
  width: 100%;
  font-size: $type-size-4;
}


tbody{
  display: table;
  width: 100%;
  color: rgba($color: black, $alpha: 0.65);
}

tr:not(thead tr){
  //border-top: solid 1px $border-color;
}

th:not(:first-of-type),
td:not(:first-of-type) {
  padding: 0;
}

tr,
td,
th {
  text-align: left;
}

.code_list{
  //border-top: solid 1px black;
  position: relative;
  width: 100%;
  tr{
    position: relative;
  }


  thead {
    //position: absolute;
    top: 0;
    left: 0;
    //visibility: hidden;
    //opacity: 0;
    transition: opacity 0.25s;
    font-family: $serif;
    font-size: 0.9rem;
    line-height: 1;

    th{
      padding: 0;
      font-weight: normal;
    }

    // tr::before{
    //   content: "번호.";
    //   position: absolute;
    //   left: 0;
    // }
  }


  tbody{
    margin-top: 0.5em;
    font-size: 0.9rem;
    vertical-align: top;
    table-layout:fixed;
    counter-reset: item_num;

    td{
      display: table-cell;
      padding: 0.75rem 0;
    }

    tr{
      border-bottom: solid 1px $border-color;
      // &::before{
      //   counter-increment: item_num;
      //   content: '(' counter(item_num, hangul) ')';
      //   padding: 0.75rem 0;
      //   font-family: $serif;
      //   position: absolute;
      //   left: 0;
      // }

      &:hover{
        background-color: #efefef;
        transition: 0.4s;
      }

      &:not(:last-of-type){
       
      }
    }
    
  }

  th:nth-of-type(2),
  td:nth-of-type(2){
    width: 30%;
  }

  th:nth-of-type(1),
  td:nth-of-type(1){
    width: 70%;

    a{
      vertical-align: top;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
    }
  }
}

