/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-3;
  border-collapse: collapse;
  overflow-x: auto;
  border: 1px solid mix(#000, $border-color, 5%);
  border-radius: 4px;
  overflow: hidden;

  & + table {
    margin-top: 1em;
  }
}

thead {
  display: table;
  width: 100%;
  font-size: $type-size-4;
  //border-bottom: solid 1px #ccc;
}

th {
  padding: 0.75em 1rem;
  font-weight: bold;
  text-align: left;
}

tbody{
  display: table;
  width: 100%;
  color: rgba($color: black, $alpha: 0.65);
}

tr{
  &:nth-of-type(odd):not(:first-of-type){
    background-color: #fcfcfc;
  }
  &:last-of-type{
    border-bottom: 0;
  }
}

td {
  padding: 0.75em 1rem;
}

tr,
td,
th {
  vertical-align: middle;
}

.code_list{
  &:hover{
    box-shadow: 0 5px 15px rgba($color: black, $alpha: 0.15);
  }

  thead {
    tr:nth-of-type(1) th{
      font-size: $type-size-3;
      padding-bottom: 0;
    }

    tr:nth-of-type(2) th{
      padding-top: 0.15rem;
      padding-bottom: 0.5rem;
      color: rgba($color: black, $alpha: 0.7);
    }
  }

  tbody tr:hover{
    background-color: #efefef;
    transition: 0.4s;
  }

  th:nth-of-type(1),
  td:nth-of-type(1),
  th:nth-of-type(2),
  td:nth-of-type(2){
    width: 15%;
  }

  th:nth-of-type(4),
  td:nth-of-type(4){
    width: 24%;
    border-left: solid 1px #efefef;
  }

  th:nth-of-type(5),
  td:nth-of-type(5){
    font-size: $type-size-4;
    width: 24%;
    border-left: solid 1px #efefef;
  }

}
